* {
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #5f6368;
}

a:hover {
    text-decoration: underline;
}


/* Central search part */

.search {
    width: 65%;
    margin-top: 11%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 30%;
    height: auto;
}

.search-bar {
    border: #dfe1e5 1px solid;
    border-radius: 24px;
    height: 3.5em;
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    padding: 0 10px 0 14px;
    vertical-align: middle;
    width: 50%;
}

.search-bar i {
    color: #9AA0A6;
    font-size: 1.5em;
    margin: auto 0;
    align-content: center;
}

.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.input,
#query {
    margin: 0 auto;
    padding: 2px 1em 2px 1em;
    width: 100%;
    height: 100%;
    border: none;
}

#query:focus {
    outline: none;
}


/* Buttons */

.search-buttons {
    margin: 1.5em auto;
    display: block;
    justify-content: center;
    width: 30vw;
    min-width: fit-content;
}

.search-buttons button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 1em;
    padding: 10px 16px;
    text-align: center;
    margin: auto 0.5em;
}

.search-buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer nav ul {
    display: flex;
    padding: 0 1.2em;
}

.footer-links li {
    vertical-align: bottom;
    padding: 0.9em;
    white-space: nowrap;
}

@media(max-width: 1080px) {
    body {
        font-size: 12px;
    }
    .search {
        width: 75%;
    }
}

@media(max-width: 880px) {
    body {
        font-size: 11px;
    }
    .search {
        width: 85%;
    }
}

@media(max-width: 680px) {
    body {
        font-size: 10px;
    }
    .search {
        width: 100%;
    }
}